.shapes {
  position: absolute;
  top: 0;
  left: -110px;
  /* Offset side bar margin */
  width: 100vw;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background: transparent;
}

@media screen and (max-width: 1024px) {
  .shapes {
    left: 0;
  }
}

.home__bg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  opacity: 0.8;
}

/* Scanline effect removed as per user request */

/* Decorative glows removed as per user request to ensure full transparency */