.coding-profiles {
    padding: 6rem 0 2rem;
}

.coding-profiles__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.coding-profiles__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--container-color);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 1.5rem;
}

.coding-profiles__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.coding-profiles__logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.coding-profiles__info {
    text-align: center;
}

.coding-profiles__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
    color: var(--title-color);
}

.coding-profiles__username {
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-bottom: 1rem;
}

.coding-profiles__button {
    color: #fff;
    background-color: var(--first-color);
    padding: 0.75rem 1.5rem;
    border-radius: var(--border-radius);
    font-weight: var(--font-medium);
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.coding-profiles__button:hover {
    background-color: var(--first-color-alt);
    transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
    .coding-profiles__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .coding-profiles__container {
        grid-template-columns: 310px;
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 350px) {
    .coding-profiles__container {
        grid-template-columns: 1fr;
    }
}
